{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron" style="margin-bottom:0px;">
        <div class="container-fluid row">
            <div class="col-sm-8">
                <br>
                <br>
                <div class="text-center">
                <h2>Olá! Faça seu cadastro.</h2>
                </div><br>
                <form class="text-center" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                    {% csrf_token %}

                    <div class="fieldWrapper">
                        {{ form|bootstrap }}
                    </div>



                    <div class="form-group">
                        <input class="btn btn-primary btn-large" type="submit" value="Enviar"/>
                        {% block extra_buttons %}
                        {% endblock extra_buttons %}
                    </div>
                </form>
            </div>
                            <div class="col-sm-4">
                    <div class="card">
                        <img class="img-fluid rounded" src="{% static 'img/BEM VINDO.jpg' %}" />
                    </div>

                </div>
        </div>
    </section>

</main>
{% endblock %}
