{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Perguntas{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
<section class="jumbotron" style="margin-bottom:0px;">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <form class="" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                    {% csrf_token %}
                    <div class="container">
                        {{ form|bootstrap }}
                        <div class="container-fluid card">
                            <li>a) Pode ser chamado de toalete social e possui o único objetivo de interação social entre os indivíduos.  </li>
                            <li>b) Pode ser chamado de toalete social, ao mesmo tempo em que ocorre interação social entre os indivíduos, tem função higiênica: parasitas externos, sujeiras e pelos mortos são retirados. </li>
                            <li>c) Pode ser chamado de toalete social e possui apenas função higiênica: parasitas externos, sujeiras e pelos mortos são retirados. </li>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary btn-large" type="submit" value="Enviar"/>
                        {% block extra_buttons %}
                        {% endblock extra_buttons %}
                    </div>
                </form><div class=""><p style="color:re" id="demo"></p></div>
            </div>
            {% if user.is_authenticated  %}
            <div class="col-sm-6">
            <img class="img-fluid rounded" src="{% static 'img/PERGUNTA 4.jpg' %}" />


                <h1>Ranking</h1>



                <table class="table table-drk table-striped" style="background: #559999; border: 3px solid #114444">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Pontos</th>

                    </tr>
                    </thead>
                    <tbody>
                    {%for pergunta in perguntas%}
                    <tr>
                        <td>{{pergunta.nome}}</td>
                        <td>{{ pergunta.pontuacao }}</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

                                                        <button class="btn btn-success" type="button"
onclick="document.getElementById('demo').innerHTML = 'ALTERNATIVA B'">
Mostrar resposta</button>
                {% else %}
                <div class="col-sm-6">
                    <div class="card">
                        <img class="img-fluid rounded" src="{% static 'img/PERGUNTA 4.jpg' %}" />
                    </div>

                </div>
            </div>
            {% endif %}
        </div>

    </section>

</main>
{% endblock %}
