{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Perguntas{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron" style="height:93%;width: 100%;position:absolute;margin-bottom:0px;">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <form class="text-center" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                    {% csrf_token %}
                    {{ form|bootstrap }}


                    <div class="form-group">
                        <input class="btn btn-primary btn-large" type="submit" value="Enviar"/>
                        {% block extra_buttons %}
                        {% endblock extra_buttons %}
                    </div>
                </form>
            </div>
            {% if user.is_authenticated  %}
            <div class="col-sm-6" style="background: #559999; border: 3px solid #114444">

                <h1>Ranking</h1>



                <table class="table table-drk table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Pontos</th>

                    </tr>
                    </thead>
                    <tbody>
                    {%for pergunta in perguntas%}
                    <tr>
                        <td>{{pergunta.nome}}</td>
                        <td>{{ pergunta.pontuacao }}</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {% else %}
                <div class="col-sm-6">
                <div class="card">
                    <img src="{% static 'img/vaca.png' %}" />
                </div>
                </div>
            </div>
            {% endif %}
        </div>

    </section>

</main>
{% endblock %}
